<?xml version="1.0" encoding="utf-8" ?>


<configuration>
   <system.web>
      <compilation debug="true" />
   </system.web>
   <system.serviceModel>
      <services>
         <service name="NetTcpServicetoHostinWindowsServices.Service1" behaviorConfiguration ="MyBeh">
            <host>
               <baseAddresses>
                  <add baseAddress = "net.tcp://localhost:9292/Service1/" />
               </baseAddresses>
            </host>

            <endpoint name ="TcpEndPoint"
            address =""
            binding="netTcpBinding"
            contract="NetTcpServicetoHostinWindowsServices.IService1">
            </endpoint>

            <endpoint name ="MetaDataTcpEndpoint"
            address="mex"
            binding="mexTcpBinding"
            contract="IMetadataExchange"/>
         </service>

         <service name="NetTcpServicetoHostinWindowsServices.Service_http" behaviorConfiguration ="MyBeh">
            <host>
               <baseAddresses>
                  <add baseAddress = "http://localhost:8733/Service_http/" />
               </baseAddresses>
            </host>

            <endpoint name ="HttpEndPoint"
            address =""
            binding="wsHttpBinding"
            contract="NetTcpServicetoHostinWindowsServices.IService_http">
            </endpoint>

            <endpoint name ="MetaDataTcpEndpoint"
            address="mex"
            binding="mexHttpBinding"
            contract="IMetadataExchange"/>
         </service>
      </services>

      <behaviors>
         <serviceBehaviors>
            <behavior name ="MyBeh">
               <serviceMetadata httpGetEnabled="False"/>
               <serviceDebug includeExceptionDetailInFaults="False" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>